body {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  margin-top: 80px;
}

h1, h2 {
  text-align: center;
}

select {
  display: inline-block;
  height: 35px;
  width: 170px;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
  background: none;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

select:hover {
  opacity: 1;
}

.inputWrapper {
  border: solid 1px grey;
  height: 35px;
  width: 95%;
  border-radius: 3px;
}

.tylInput {
  border: none;
  height: 85%;
  margin: 1px;
  outline: none;
  margin-left: 10px;
  width: 90%;
  font-size: 16px;
}

.clickable {
  cursor: pointer;
}

.show-options-container {
  margin-top: 3px;
  font-size: 12px;
  color: #42b983;
}

.show-options {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
